.first-slide{
    color: black;
    text-align: center;
    border-radius: 5px;
    max-width: 90%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px 5px;
}
#start-btn1{
    border-radius: 7px;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #33cc33;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
#start-btn1:active{
    background-color: #004d00;
}
.b-1{
    color: rgb(241, 181, 26);
}
.b-2{
    color: rgb(233, 10, 10);
}