*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --hue-neutral: 200;
    --hue-correct: 145;
    --hue-wrong: 0;
}
body.correct{
    --hue: var(var(--hue-correct))
}
body.wrong{
    --hue: var(var(--hue-wrong))
}
body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
}
.container{
    width: 800px;
    max-width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
.control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn{
    --hur: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: color;
}
.btn.correct{
    --hue: var(--hue-correct);
}
.btn.wrong{
    --hue: var(--hue-wrong);
}
.hide{
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .luck{
    color: white;
    justify-content: center;
    text-align: center;
    position:fixed;
    top: 200px;
    font-size: 100px;
  }
#one{
    color:red;
    
}
#two{
    color:orange;
    padding-top: 30px;
}
#three{
    color:yellow;
}
#four{
    color:green;
}
#five{
    color:lightblue;
}
#six{
    color:indigo;
}
#seven{
    color:violet;
}
#eight{
    color: lightcoral;
}
#one:hover{
    color:lightcoral;
}
#two:hover{
    color:violet;
}
#three:hover{
    color:indigo;
}
#four:hover{
    color:lightblue;
}
#five:hover{
    color:green;
}
#six:hover{
    color:yellow;
}
#seven:hover{
    color:orange;
}
#eight:hover{
    color: red;
}
